* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(33, 149, 243, 0.10);
}

body>.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
}

.item {
    cursor: pointer;
    width: 50%;
    flex-grow: 1;
    overflow: hidden;
}

.facebook {
    background-color: #DEEBF5;
    border-right: 4px solid #fff;
}

.google {
    background-color: #fff;
}

.facebook svg {
    width: 184%;
    height: 100vh;
    margin-left: -42%;
    fill: #3F8DC7;
}

.google svg {
    width: 190%;
    height: 100vh;
    margin-left: -30%;
}

#toast-container {
    min-width: 10%;
    bottom: 3%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    -o-transform: translateX(50%) translateY(50%);
}

.btn-add {
    position: fixed;
    top: 90%;
    left: 80%;
}

#dropdown1 {
    margin-top: 35px;
}

#userPhoto {
    width: 40px;
    margin-top: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.button-add {
    position: fixed;
    top: 84%;
    left: 83%;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.card .card-content {
    padding: 15px;
}

.card .card-action {
    padding: 5px;
    text-align: right;
}

.card-action-icon {
    cursor: pointer;
    color: #2196F3;
}

.tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .tab a:hover {
    color: #fff;
}

.tabs .tab a {
    color: rgba(255, 255, 255, 0.719) !important;
}

.tabs .indicator {
    background-color: #fff;
}

.footer-navbar {
    position: fixed;
    bottom: 0%;
    height: 50px;
}



.footer-navbar #nav-mobile a {
    color: black;
    margin-top: 10px;
}

#slack-logo {

    width: 25px
}

#slack-logo {
    margin: 0 20px;
    padding: 5px 0;
}



@media (min-width: 700px) {
    body>.container {
        width: 60%;
    }
}